@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'establishRetrosansOTF';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(98, 194, 58);
    /* background-image : url('배경３.png');
    background-repeat : repeat; */
}

img {
    max-width : 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.content {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 158, 9, 0.7);
    position: sticky;
    top: 0;
}

.content2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.taskbar {
    list-style:none;
    padding-left:0px;
    display: inline-block;
    white-space: normal;
    list-style: none;
    
}

.line {
    float: left;
    margin-right: 20px;
}

.taskbar_1 {
    text-decoration: none;
}
a:link {
    color : black;
  }
a:visited {
    color : black;
  }
a:hover {
    color : black;
  }
a:active {
    color : black;
  }
